body {
  background-image: url(assets/images/body-bg.png);
  background-repeat: repeat-y;
  background-position: center center;
  font-family: Arial, Helvetica, sans-serif;
}
.section {
  width: 990px;
  margin-left: auto;
  margin-right: auto;
}
.row {
  padding-top: 40px;
}
.author {
color: #FFF;
font-size: 24px;
text-align: right;
padding-right: 10px;
}
.author span {
font-size: 14px;
display: block;
word-spacing: 3px;
}
.main {
font-size: 14px;
line-height: 22px;
padding-left: 10px;
}
.main a {
color: #8e9099;
text-decoration: none;
}
.main a:hover {
color: #2f3033;
}
.main a.action {
border-color: #8e9099;
color: #2f3033;
}
.pechat {
display: block;
position: absolute;
right: 10px;
top: 370px;
}
.gallery {
/*position: absolute;
top: 180px;
width: 600px;
left: 200px;*/
}
.gallery .centerIMG {
text-decoration: none;
border-top-style: none;
border-right-style: none;
border-bottom-style: none;
border-left-style: none;
outline: none;
display: block;
height: 500px;
width: 500px;
position: relative;
}
.centerIMG img {
width: 500px;
height: 500px;
}
.description {
color: #2f3033;
/*position: absolute;
top: 180px;
right: 10px;*/
font-size: 14px;
text-align: right;
}
.caption {
color: #2f3033;
position: absolute;
top: 450px;
right: 10px;
font-size: 12px;
text-align: right;
}
.main_wr {
/*position: absolute;
left: 10px;
top: 180px;*/
width: 100px;
}
.main_wr a {
border: 1px solid #d5d6db;
display: block;
margin: 0;
padding-bottom: 1px;
height: 63px;
width: 63px;
}
.main_wr img {
height: 62px;
width: 62px;
}
.main_wr a:hover {
border-color: #8e9099;
}
.active {
border: 1px solid #8e9099;
}
.words {
  color: #2F3033;
}

#author{
position: absolute;
width: 990px;
bottom: 0;

}
.center {
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 0;
}

// Смартфоны

/*
@media (max-width: 575.98px){
body {
width: 100%;
}
.main {
height: 100px;
font-size: 0.8em;
line-height: 1.5em;
}
.row {
    padding-top: 10px;
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.author {
color: #FFF;
font-size: 1.5em;
text-align: end;
}
.author span {
font-size: 0.6em;
text-align: center;

}
.pechat {
display: block;
position: absolute;
right: 20px;
top: 233px;
}
.description {
display: none;
}
.main_wr {
position: inherit;
display: flex;
justify-content: space-around;
width: 99%;
}
.main_wr a {
border: 1px solid #d5d6db;
margin: 0;
padding: 0;
position: unset;
height: 63px;
width: 63px;
}
.main_wr a img {
width: 62px;
height: 62px;
}
.caption {
color: #2f3033;
position: relative;
top: 10px;
font-size: 12px;
text-align: right;
}
#author{
position: fixed;
width: 100%;
bottom: 0;

}
#author img {
width: 100%;
}
.gallery {
position: relative;
top: 10px;
width: 100%;
left: 0;
}
.gallery .centerIMG {
text-decoration: none;
border-top-style: none;
border-right-style: none;
border-bottom-style: none;
border-left-style: none;
outline: none;
display: block;
position: relative;
width: 100%;
height: auto;

}
.centerIMG img {
width: 99%;
height: 74%;
}
*/


